<div class="row">
  <div class="col-xs-12">
    <%= image_tag("banner44.png", alt: "banner", class: "img-responsive") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <%= image_tag("ring.jpg", alt: "ring", class: "img-responsive") %>
    <%= image_tag("indexmain.jpg", alt: "index", class: "img-responsive") %>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <h1>About Us</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <%= image_tag("jew_banner.jpg", alt: "index", class: "img-responsive") %>
  </div>
  <div class="col-sm-4">
    <%= image_tag("abcd.jpg", alt: "jewel", class: "img-responsive") %>
  </div>
</div>
<br>


